form {
  width: 50%;
  top: 5em;
  font-size: 20px;
  margin: 10em auto;
  border: 1px solid red;
}
.policy {
  font-size: 15px;
}
.terms {
  font-size: 15px;
}
@media screen and (max-width: 320px) {
  form {
    width: 85%;
    padding: 5;
    font-size: 15px;
    margin: 10em auto;
  }
  .navbar-default {
    height: 5%;
  }
}
@media screen and (max-width: 375px) {
  form {
    width: 100%;
    padding: 5;
    font-size: 12px;
    margin: 10em auto;
  }
}
@media screen and (max-width: 430px) {
  form {
    width: 75%;
    padding: 5;
    font-size: 15px;
    margin: 10em auto;
  }
}
